<div *ngIf="showPagination" id="pagination-bar">
  
  <nav  aria-label="Page navigation example" class="d-flex flex-row">
    <pagination 
      [totalItems]="pagination.total_shipments"
      [maxSize]="paginationData.maxSize"
      [boundaryLinks]="paginationData.boundaryLinks" 
      (pageChanged)="pageChanged($event)" 
      [(ngModel)]="currentPage"
      (numPages)="getTotalPages($event)"
      [itemsPerPage]="paginationData.itemsPerPage" 
      previousText="&lsaquo;" nextText="&rsaquo;"
      firstText="&laquo;" lastText="&raquo;" 
      ></pagination>     
  </nav>
    
</div>
  