
input.ng-invalid.ng-touched {
    border: 1px solid red
}

/* sign in */

.signinpanel {
    width: 780px;
    margin: 10% auto 0 auto;
}

.signinpanel .logopanel {
    float: none;
    width: auto;
    padding: 0;
    background: none;
}

.signinpanel .signin-info ul {
    list-style: none;
    padding: 0;
    margin: 20px 0;
}

.signinpanel .signin-info a {
    color: #333;
}

.signinpanel .form-control {
    display: block;
    margin-top: 15px;
}

.signinpanel .uname {
    background: #fff url('/assets/images/login/user.png') no-repeat 95% center; 
}

.signinpanel .pword {
    background: #fff url('/assets/images/login/locked.png') no-repeat 95% center; 
}

.signinpanel .btn {
    margin-top: 15px;
}

.signinpanel form {
    background: rgba(255,255,255,0.2);
    border: 1px solid #ccc;
    -moz-box-shadow: 0 3px 0 rgba(12,12,12,0.03);
    -webkit-box-shadow: 0 3px 0 rgba(12,12,12,0.03);
    box-shadow: 0 3px 0 rgba(12,12,12,0.03);
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    padding: 30px;
}

.signinpanel form a {
    color: #666;
}

/* sign up */

.signuppanel {
    margin: 5% auto 0 auto;
    width: 780px;
}

.signuppanel .row {
    margin-left: -5px;
    margin-right: -5px;
}

.signuppanel .logopanel {
    float: none;
    width: auto;
    padding: 0;
    background: none;
}

.signuppanel .col-sm-6,
.signuppanel .col-sm-5,
.signuppanel .col-sm-3,
.signuppanel .col-sm-4 {
    padding-left: 5px;
    padding-right: 5px;
}

.signuppanel .signup-info {
    padding-right: 20px;
}

.signuppanel form {
    background: rgba(255,255,255,0.2);
    border: 1px solid #ccc;
    -moz-box-shadow: 0 3px 0 rgba(12,12,12,0.03);
    -webkit-box-shadow: 0 3px 0 rgba(12,12,12,0.03);
    box-shadow: 0 3px 0 rgba(12,12,12,0.03);
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    padding: 30px;
}

.feat-list {
    margin-top: 20px;
}

.feat-list .fa {
    font-size: 20px;
    border: 2px solid #636e7b;
    padding: 4px 5px;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border-radius: 100px;
    float: left;
}

.feat-list h4 {
    margin-left: 45px;
    padding-top: 3px;
}

.feat-list p {
    margin-left: 45px;
}

.signup-footer {
    border-top: 1px solid #ddd;
    margin-top: 30px;
    padding-top: 10px;
    font-size: 12px;
}

@media screen and (max-width: 320px) {

    .signinpanel,
    .signuppanel {
        width: 310px;
    }

}