.flakes-page {
    margin: 5px 10px;
    display: grid;
    position: absolute;

}

.page-header {
    padding: 15px;
    border-bottom: 1px solid #d3d7db;
    border-top: 1px solid #eee;
    background: #f7f7f7;
    position: relative; 
    margin-bottom: 25px;
}  

.content-panel {
    padding: 20px;
    position: relativ
}