<form>
    <div class="table_length" >
        <label>Show 
            <select id="rows-per-page" >
                <option value="50"  >50</option>
                <option value="100"  >100</option>
                <option value="250"  >250</option>
                <option value="500"  >500</option>
                <option value="1000"  >1000</option>
            </select> entries
        </label>
    </div>
    

    <div class="table_info">
        <div class="num_rows" > Showing 1 to 1 of 1 entries</div>
        
    </div>
</form>