<div>
    No shipments found.
</div>

<div id="shipment-search">
    <table class="flakes-table" style="width:100%" id="shipment-list">
        <colgroup>
            <col span="1" style="width:20px" />
        </colgroup>
        <thead>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <input class="search-error column-search" placeholder="Search Error" style="width: 100%; min-width: 80px" data-key="8">
                </td>
                <td></td>
                <td></td>
                <td>
                    <input class="search-state column-search" placeholder="Search State" style="width: 100%; min-width: 100%" data-key="11">
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <input class="search-sku column-search" placeholder="Search SKU" style="width: 100%; min-width: 120px" data-key="15">
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <input class="search-item-1 column-search" placeholder="Search Item 1" style="width: 100%; min-width: 120px" data-key="22">
                </td>
                <td>
                    <input class="search-item-2 column-search" placeholder="Search Item 2" style="width: 100%; min-width: 120px" data-key="23">
                </td>
                <td>
                    <input class="search-item-3 column-search" placeholder="Search Item 3" style="width: 100%; min-width: 120px" data-key="24">
                </td>
                <td>
                    <input class="search-item-4 column-search" placeholder="Search Item 4" style="width: 100%; min-width: 120px" data-key="25">
                </td>
                <td>
                    <input class="search-item-5 column-search" placeholder="Search Item 5" style="width: 100%; min-width: 120px" data-key="26">
                </td>
                <td>
                    <input class="search-item-6 column-search" placeholder="Search Item 6" style="width: 100%; min-width: 120px" data-key="27">
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <input class="search-shipping column-search" placeholder="Search Shipping Info" style="width: 100%" data-key="44">
                </td>
            </tr>
            <tr class="not_hide">
                <td>&nbsp;</td>
                  <td><input type="checkbox" class="check_all"></td>
                  <td>&nbsp;</td>
                  <td class="order_id">Order ID</td>
                <td class="shipment_id">Shipment ID</td>
                <td class="date">Date<br> Created</td>
                <td class="days_pending">Days<br>Pending</td>
                <td class="status">Status</td>
                <td class="note">Error</td>
                <td class="facility">Facility</td>
                <td class="shipping_method">Shipping<br> Method</td>
                <td class="state">State</td>
                <td class="ww">WW<br>State</td>
                <td class="chocolate_state">Chocolate<br>State</td>
                <td class="contains_chocolate">Contains<br>Chocolate</td>
                <td class="sku">SKU to ship</td>
                <td class="sku">Item Count</td>
                <td class="sku">SKU<br>Update</td>
                <td class="local_weather">Local<br>Weather</td>
                <td class="ids_weather">IDS<br>Weather</td>
                <td class="sku_error">SKU Error</td>
                <td class="item_1">Item 1</td>
                <td class="item_2">Item 2</td>
                <td class="item_3">Item 3</td>
                <td class="item_4">Item 4</td>
                <td class="item_5">Item 5</td>
                <td class="item_6">Item 6</td>
                <td class="item_sku">Sku fc 1</td>
                <td class="item_sku">Sku fc 2</td>
                <td class="item_sku">Sku fc 3</td>
                <td class="item_sku">Sku fc 4</td>
                <td class="item_sku">Sku fc 5</td>
                <td class="item_sku">Sku fc 6</td>
                <td class="item_sku">Sku pr fc 1</td>
                <td class="item_sku">Sku pr fc 2</td>
                <td class="item_sku">Sku pr fc 3</td>
                <td class="item_sku">Sku pr fc 4</td>
                <td class="item_sku">Sku pr fc 5</td>
                <td class="item_sku">Sku pr fc 6</td>
                <td class="item_sku">Sku sp 1</td>
                <td class="item_sku">Sku pr sp 1</td>
                <td class="gift_card_sku">Gift Card SKU</td>
                <td class="last_skus_on_demand"> Previous SKUs</td>
                <td class="customer">Customer</td>
                <td class="shipping_info">Shipping Info</td>
            </tr>
        </thead>
        <tbody>
            
            <tr>
                <td>&nbsp;</td>
                <td><input type="checkbox" value="" class="shipment_item"></td>
                <td><a class="button-pink smaller button_void">Void</a></td>
                <td class="order_id"><span></span></td>
                <td class="shipment_id"><span></span></td>
                <td class="date"><span></span></td>
                <td class="days_pending"><span></span></td>
                <td class="status"><span></span></td>
                <td class="note"><span></span></td>
                <td class="facility editable">
                    <span></span>
                    <select>
                        <option value="">--</option>
                        <option value="1">IND</option>
                        <option value="2">SLC</option>
                    </select>
                    <span class="overlay"></span>
                </td>
                <td class="shipping_method editable">
                    <span>FedEx Ground</span>
                    <select name="shipment_carrier">
                        <option value="">--</option>
                        <option value="FEDH">FedEx Home</option>
                        <option value="FXSP">FedEx SmartPost</option>
                        <option value="FED2">FED2</option>
                        <option value="UPSG">UPS Ground</option>
                        <option value="UPSS">UPS SurePost</option>
                        <option value="IDSA">IDSA</option>

                    </select>
                    <span class="overlay"></span>
                </td>
                <td class="state"><span></span></td>
                <td class="ww"></td>
                <td class="chocolate_state"></td>
                <td class="contains_chocolate"></td>
                <td class="sku editable"><span></span><input type="text" name="sku" value=""></td>
                <td class="item_count"></td>
                <td class="sku_update">
                    <a class="button-pink smaller button_update_sku" data-new-sku="" data-heat-code="" >Make </a>
                </td>
                <td class="local_weather editable read-only">
                    <span></span>
                    <select>
                        
                        <option value=""></option> 
                        
                    </select>
                    <span class="overlay"></span>
                </td>
                <td class="ids_weather editable read-only">
                    <span></span>
                    <select>
                        
                        <option value="" ></option>
                        
                    </select>
                    <span class="overlay"></span>
                </td>
                <td class="sku_error"></td>
               

                <td class="gift_card_sku"><span></span></td>
                <td class= "last_skus_on_demand">
                    <a class="button-pink smaller button_last_skus" data-order-id="" data-shipment-id="">Last SKUs</a>
                </td>
                <td class="customer"><span></span></td>
                <td class="shipping_info"><span></span></td>
            </tr>
            
        </tbody>
    </table>
</div>






