<p *ngIf="shipments.length < 1 ">
    No shipments found.
</p>

<div  >
    <table *ngIf="shipments.length > 0 " class="table table-striped table-hover text-center" id="shipment-list">
        <colgroup>
            <col span="1" style="width:20px" />
        </colgroup>
        <thead>
            <tr>
                <td>&nbsp;</td>
                <td>Check All</td>
                <td>&nbsp;</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <input class="form-control search-error column-search" placeholder="Search Error" style="width: 100%; min-width: 80px" data-key="8">
                </td>
                <td></td>
                <td></td>
                <td>
                    <input class="form-control search-state column-search" placeholder="Search State" style="width: 100%; min-width: 100%" data-key="11">
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <input class="form-control search-sku column-search" placeholder="Search SKU" style="width: 100%; min-width: 120px" data-key="15">
                </td>
                <td></td>
                <!-- <td></td> -->
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <input class="form-control search-item-1 column-search" placeholder="Search Item 1" style="width: 100%; min-width: 120px" data-key="22">
                </td>
                <td>
                    <input class="form-control search-item-2 column-search" placeholder="Search Item 2" style="width: 100%; min-width: 120px" data-key="23">
                </td>
                <td>
                    <input class="form-control search-item-3 column-search" placeholder="Search Item 3" style="width: 100%; min-width: 120px" data-key="24">
                </td>
                <td>
                    <input class="form-control search-item-4 column-search" placeholder="Search Item 4" style="width: 100%; min-width: 120px" data-key="25">
                </td>
                <td>
                    <input class="form-control search-item-5 column-search" placeholder="Search Item 5" style="width: 100%; min-width: 120px" data-key="26">
                </td>
                <td>
                    <input class="form-control search-item-6 column-search" placeholder="Search Item 6" style="width: 100%; min-width: 120px" data-key="27">
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <input class="form-control search-shipping column-search" placeholder="Search Shipping Info" style="width: 100%" data-key="44">
                </td>
            </tr>
            <tr class="not_hide">
                <td>&nbsp;</td>
                <td>
                    <!-- <input type="checkbox" class="check_all"> -->
                </td>
                <td>&nbsp;</td>
                <th scope="col" class="order_id">Order ID</th>
                <th class="shipment_id">Shipment ID</th>
                <th scope="col" class="date">Date<br> Created</th>
                <th scope="col" class="days_pending">Days<br>Pending</th>
                <th scope="col" class="status">Status</th>
                <th scope="col" class="note">Error</th>
                <th scope="col" class="facility">Facility</th>
                <th scope="col" class="shipping_method">Shipping<br> Method</th>
                <th scope="col" class="state">State</th>
                <th scope="col" class="ww">WW<br>State</th>
                <th scope="col" class="chocolate_state">Chocolate<br>State</th>
                <th scope="col" class="contains_chocolate">Contains<br>Chocolate</th>
                <th scope="col" class="sku">SKU to ship</th>
                <th scope="col" class="sku">Item Count</th>
                <!-- <td class="sku">SKU<br>Update</th> -->
                <th scope="col" class="local_weather">Local<br>Weather</th>
                <th scope="col" class="ids_weather">IDS<br>Weather</th>
                <th scope="col" class="sku_error">SKU Error</th>
                <th scope="col" class="item_1">Item 1</th>
                <th scope="col" class="item_2">Item 2</th>
                <th scope="col" class="item_3">Item 3</th>
                <th scope="col" class="item_4">Item 4</th>
                <th scope="col" class="item_5">Item 5</th>
                <th scope="col" class="item_6">Item 6</th>
                <th scope="col" class="item_sku">Sku fc 1</th>
                <th scope="col" class="item_sku">Sku fc 2</th>
                <th scope="col" class="item_sku">Sku fc 3</th>
                <th scope="col" class="item_sku">Sku fc 4</th>
                <th scope="col" class="item_sku">Sku fc 5</th>
                <th scope="col" class="item_sku">Sku fc 6</th>
                <th scope="col" class="item_sku">Sku pr fc 1</th>
                <th scope="col" class="item_sku">Sku pr fc 2</th>
                <th scope="col" class="item_sku">Sku pr fc 3</th>
                <th scope="col" class="item_sku">Sku pr fc 4</th>
                <th scope="col" class="item_sku">Sku pr fc 5</th>
                <th scope="col" class="item_sku">Sku pr fc 6</th>
                <th scope="col" class="item_sku">Sku sp 1</th>
                <th scope="col" class="item_sku">Sku pr sp 1</th>
                <th scope="col" class="gift_card_sku">Gift Card SKU</th>
                <th scope="col" class="last_skus_on_demand"> Previous SKUs</th>
                <th scope="col" class="customer">Customer</th>
                <th scope="col" class="shipping_info">Shipping Info</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let shipment of shipments">
                <td>&nbsp;</td>
                <td><input type="checkbox" value="" class="shipment_item"></td>
                <td><a class="button-pink smaller button_void">Void</a></td>
                <td class="order_id"><span></span>
                    {{ shipment.order_id }}
                </td>
                <td class="shipment_id"><span></span>
                    {{ shipment.shipment_id }}
                </td>
                <td class="date"><span></span>
                    {{ shipment.date_created | date: "shortDate" }}
                    <!-- {{ shipment.date_created | date: "shortDate" }} -->
                </td>
                <td class="days_pending"><span></span>
                    <!-- {{ shipment.from_order_shipment_date}} -->
                    {{ 5 }}
                </td>
                <td class="status"><span></span>
                    {{ shipment.status }}
                </td>
                <td class="note"><span></span>
                    {{ shipment.note }}
                </td>
                <td class="facility editable">
                    <!-- <span></span> -->
                    <select class="form-control" [value]="shipment.shipped_from_facility">
                        <option value="">--</option>
                        <option value="1">IND</option>
                        <option value="2">SLC</option>
                    </select>
                    <span class="overlay"></span>
                </td>
                <td class="shipping_method editable">
                    <!-- <span>FedEx Ground</span> -->
                    <select class="form-control" name="shipment_carrier" [value]="shipment.shipment_carrier">
                        <option value="">--</option>
                        <option value="FEDH">FedEx Home</option>
                        <option value="FXSP">FedEx SmartPost</option>
                        <option value="FED2">FED2</option>
                        <option value="UPSG">UPS Ground</option>
                        <option value="UPSS">UPS SurePost</option>
                        <option value="IDSA">IDSA</option>
                    </select>
                    <span class="overlay"></span>
                </td>
                <td class="state"><span></span>
                    {{ shipment.shipping_state }}
                </td>
                <td class="ww"></td>
                <td class="chocolate_state"></td>
                <td class="contains_chocolate"></td>
                <td class="sku editable">
                    <span></span>
                    <input class="form-control" type="text" name="sku" [value]="shipment.sku">
                </td>
                <td class="item_count">
                    {{ 6 }}
                </td>
                <!-- <td class="sku_update"> -->
                    <!-- <a class="button-pink smaller button_update_sku" data-new-sku="" data-heat-code="" >Make </a> -->
                <!-- </td> -->
                <td class="local_weather editable read-only">
                    <span></span>
                    <select class="form-control">
                    
                        <option value=""></option> 
                        
                    </select>
                    <span class="overlay"></span>
                </td>
                <td class="ids_weather editable read-only">
                    <span></span>
                    <select class="form-control">
                        
                        <option value="" ></option>
                        
                    </select>
                    <span class="overlay"></span>
                </td>
                <td class="sku_error">
                    
                </td>

                <td *ngFor="let a of customCandies">
                    -
                </td>
               

                <td class="gift_card_sku"><span></span>
                    {{ shipment.sku_gift_card }}
                </td>
                <td class= "last_skus_on_demand">
                    <a class="button-pink smaller button_last_skus" data-order-id="" data-shipment-id="">Last SKUs</a>
                </td>
                <td class="customer"><span></span>
                    {{ shipment.email }}
                </td>
                <td class="shipping_info"><span></span>
                    {{ shipment.shipping_first_name + ' ' + shipment.shipping_first_name + ' ' + shipment.shipping_street_1 + ' ' + 
                        shipment.shipping_street_2 + ' ' + shipment.shipping_city + ' ' +
                        shipment.shipping_state + ' ' + shipment.shipping_zip }}
                </td>
            </tr>
            
        </tbody>
    </table>
</div>






