<p style="font-size: 13px">&nbsp; &nbsp;<input type="checkbox" class="check_all" id="checkall"> 
    <label for="checkall">Check All</label></p>
    <button class="btn btn-sm btn-primary" id="approve_selected">Approve Selected</button> &nbsp;
    <button class="btn btn-sm btn-secondary" id="void_selected">Void Selected</button> &nbsp;
    <button class="btn btn-sm btn-success" id="approve_duplicated">Approve All Duplicated</button> &nbsp;
    <button class="btn btn-sm btn-danger" id="approve_pending_approval">Approve All Pendding Approval</button> &nbsp;
    <button class="btn btn-sm btn-warning" id="approve_all">&nbsp; APPROVE ALL &nbsp;</button> &nbsp;
    <button class="btn btn-sm btn-info" id="export_to_csv">&nbsp; Export CSV &nbsp;</button>  &nbsp;   
    <button class="btn btn-sm btn-dark" id="rerun_nonships">Re-Run Non-Ships</button> &nbsp;
                
<p>&nbsp;</p>